<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-newEaten="{{eaten}}">
		{{#if eaten}}Devour it!{{else}}Prepare Another!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete Burger!</button>
</li>
